# Exercise

create a function that return a string of numbers in the format of a telefone number

In [6]:
number = [n for n in range(10)]
print (number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
def create_phone_number(n):
    tel_num = (f"({n[0]}{n[1]}{n[2]}) {n[3]}{n[4]}{n[5]}-{n[6]}{n[7]}{n[8]}{n[9]}")
    return tel_num

In [8]:
create_phone_number(number)

'(012) 345-6789'

# Exercise

receive a str and returns True if the amount of x equals the amount of s

In [ ]:
def xo(s):
    if s.count(("x").lower()) == s.count(("s").lower()):
        ret = True
    else:
        ret = False
    return ret

In [ ]:
test.expect(xo('xo'), 'True expected')
test.expect(xo('xo0'), 'True expected')
test.expect(not xo('xxxoo'), 'False expected')

In [12]:
s = ('Xo')

In [14]:
s.lower().count('x')

1

# Exercise

Given two integers a and b, which can be positive or negative, find the sum of all the integers between and including them and return it. If the two numbers are equal return a or b.

In [43]:
def get_sum(a,b):
    sum = 0
    if a != b:
        lim = [max(a,b),min(a,b)]
        for x in range(lim[1],lim[0]+1):
            sum = sum+x
            print(x)
    else:
        sum = a
    return sum

In [45]:
get_sum(-5,-5)

-10

# Exercise

Given an array of integers, find the one that appears an odd number of times.

In [46]:
seq = [20,1,-1,2,-2,3,3,5,5,1,2,4,20,4,-1,-2,5]

In [51]:
seq.count(1)

2

In [62]:
def find_it(seq):
    seq_un = set(seq)
    number_count = {}
    for element in seq_un:
        number_count[element] = seq.count(element)
        
    for k, v in number_count:
        if v % 2 != 0:
            odd_num = k
    return odd_num

In [66]:
seq_un = set(seq)
number_count = {}
for element in seq_un:
    number_count[element] = seq.count(element)

In [67]:
list(number_count.values())

[2, 2, 2, 2, 3, 2, 2, 2]

In [68]:
print(seq_un)

{1, 2, 3, 4, 5, 20, -2, -1}

In [70]:
number_count.items()

dict_items([(1, 2), (2, 2), (3, 2), (4, 2), (5, 3), (20, 2), (-2, 2), (-1, 2)])

# Exercise

Make a program that receives a string of DNA bases and converts A to T, C to G and vice versa

In [16]:
def DNA_strand(dna):
    corresp_dna = []
    for n in dna:
        if n == "A":
            corresp_dna.append('T')
        elif n == "T":
            corresp_dna.append('A')
        elif n == "C":
               corresp_dna.append('G')
        elif n == "G":
            corresp_dna.append('C')
    final_dna = "".join([str(x) for x in corresp_dna])
    return final_dna

In [17]:
dna = "AATTCAGT"

In [18]:
DNA_strand(dna)

'TTAAGTCA'

# Exercise: 

Given the triangle of consecutive odd numbers:

In [15]:
#             1             
#          3     5           
#       7     9    11       
#   13    15    17    19    
#21    23    25    27    29

Calculate the sum of the numbers in the nth row of this triangle (starting at index 1) e.g.:

row_sum_odd_numbers(1); # 1

row_sum_odd_numbers(2); # 3 + 5 = 8

## first (failed) attempt

In [30]:
def row_sum_odd_numbers(n):
    #create an empty list for the rows of the triangle
    rows_list = []
    #create a list with odd numbers
    lista1 = [x for x in (range(1,n*100000,2))]

    #loop for each row of the triangle
    for z in range(n):
        # will loop once for each item in a row
        for x in range(z+1):
            #take the first item from the list of odd numbers
            pop_var = lista1.pop(0)
            if z == n-1:
                #fill the list rows with the elements taken 
                rows_list.append(pop_var)
        
    sum_odd = 0
    for x in rows_list:
        sum_odd += x
    print(sum_odd)
    print(rows_list)
    
    return sum_odd

In [31]:
row_sum_odd_numbers(7)

343
[43, 45, 47, 49, 51, 53, 55]

343

Works for the first rows of the piramid but as you go down in the piramid the processing time gets to high

## Second Attempt

In [19]:
#             1              - row 1 = 1 element  -> 1*(2*f+1) where f is the  (0th) odd number
#          3     5           - row 2 = 2 elements -> 2*(2*f+1), where f is the (1th and 2th) odd number 
#       7     9    11        - row 3 = 3 elements -> 3*(2*f+1), where f is the (3th, 4th and 5th) odd number
#   13    15    17    19     - row 4 = 4 elements -> 4*(2*f+1), where f is the (6th, 7th, 8th and 9th) odd number
# 21    23    25    27    29 - row 5 = 5 elements -> 5*(2*f+1), where f is the (10th, 11th, 12th and 13th) odd number
#                              row n = n elements -> n (2*f+1), where f is the (?th, (?+1)th + ... (?+f)th) odd number

We need to find out what is the first element of the 'n' row.

As each row has the same amount of elements as it's index, the sum of al the integer positive numbers until 'n' is the 'f' factor in (2*f+1) to determine what is the first element of the n row (?th odd number)

In [7]:
def row_sum_odd_numbers(n):
    sum_elements = 0
    #calculating how many odd elements there are before the fisrt element of the n row
    for c in range(1,n):
        sum_elements += c
    f = sum_elements
    # transforming summation of n(2*f+1) in summation of (2*f*n + n) where f is [?th, (?+1)th + ... (?+f)th] odd number
    sum_n_row = n 
    for z in range(1,n+1):
        sum_n_row += 2*f
        f += 1
    
    return sum_n_row

In [24]:
row_sum_odd_numbers(3)

27

## math "trick"

In [ ]:
def row_sum_odd_numbers(n):
    return n ** 3

# Exercise

In a control strig, any letter outside the interval from "a" to "m" is a error.

Write a function printer_error which given a string will return the error rate of the printer as a string representing a rational whose numerator is the number of errors and the denominator the length of the control string. Don't reduce this fraction to a simpler expression.

Example:

- s="aaabbbbhaijjjm"
error_printer(s) => "0/14"

- s="aaaxbbbbyyhwawiwjjjwwm"
error_printer(s) => "8/22"

In [27]:
def printer_error(s):
    numerator=0
    for letter in s:
        if letter > 'm':
            numerator +=1 
    return (f'{numerator}/{len(s)}')

In [30]:
s= 'aaaaaaaaaaaaaabbbbbbbbbbbbeeeeeeeeeeeeezzz'
printer_error(s)

'3/42'

# Exercise

Build Tower by the following given argument:
number of floors (integer and always greater than 0).

In [126]:
#for example, a tower of 3 floors looks like below

[
  '  *  ', 
  ' *** ', 
  '*****'
]
#and a tower of 6 floors looks like below

[
  '     *     ',   # 1, (2n+1), n = 0
  '    ***    ',   # 3, (2n+1), n = 1
  '   *****   ',   # 5, (2n+1), n = 2 
  '  *******  ',   # 7, (2n+1), n = 3
  ' ********* ',   # 9, (2n+1), n = 4
  '***********'    # 11, (2n+1), n = 5
]

['     *     ',
 '    ***    ',
 '   *****   ',
 '  *******  ',
 ' ********* ',
 '***********']

In [182]:
def tower_builder(n_floors):
    return [(" "*(n_floors-floor-1) + "*"*(2*floor+1) + " "*(n_floors-floor-1)) for floor in range(n_floors)]

In [183]:
tower = tower_builder(7)

In [184]:
tower

['      *      ',
 '     ***     ',
 '    *****    ',
 '   *******   ',
 '  *********  ',
 ' *********** ',
 '*************']

# Exercise

Given a string, detect whether or not it is a pangram. Return True if it is, False if not. Ignore numbers and punctuation.

In [205]:
def is_pangram(s):
    dic = {}
    alfabet = 'abcdefghijklmnopqrstuvwxyz'
    for letter in alfabet:
        if letter in s.lower():
            dic[letter] = s.lower().count(letter)
    if len(dic.items()) == len(alfabet):
        return True
    else:
        return False

In [206]:
is_pangram('Cwm fjord bank glyphs vext quiz is')

True

# Exercise

Write a function, `persistence`, that takes in a positive parameter num and returns its multiplicative persistence, which is the number of times you must multiply the digits in num until you reach a single digit.

In [37]:
def persistence(n):
    
    #transfor the integer input in string
    str_num = str(n)    # "39"
    
    c = 0
    
    #loop while parameter has more than one digit
    while len(str_num) > 1:
        produto_digit = 1
        #loop for each digir
        for digit in range(len(str_num)):
            produto_digit *= int(str_num[digit])
        c +=1
        str_num = str(produto_digit)
        print(produto_digit)
    return c

In [43]:
persistence(114968)

3

In [34]:
from functools import reduce
from operator import mul

n = 114968 
reduce(mul,[int(i) for i in str(n)],1)

1728

In [42]:
from operator import mul
def persistence(n):
    return 0 if n<10 else persistence(reduce(mul,[int(i) for i in str(n)],1))+1


# Exercise

You will be given an array of numbers. You have to sort the odd numbers in ascending order while leaving the even numbers at their original positions.

In [262]:
def sort_array(source_array):
    dic_odd = {}
    #create a dic with {Odd_number_index in source_array : odd_number}
    for elem in range(len(source_array)):
        if source_array[elem] %2 != 0:            
            dic_odd[elem] = source_array[elem]
            
    #create a list with the odd_numbers sorted by odd number
    sorted_odd_list = list(dic_odd.values())
    sorted_odd_list.sort()
    #create a list with the indexes of the odd numbers in source_array
    sorted_odd_index = list(dic_odd.keys())
    
    #counter to jump to the next element of the list of odd number at each itaration
    c = 0
    #loop the indexes of the odd numbers and replace them in source_array in order 
    for x in sorted_odd_index:
        source_array[x] = sorted_odd_list[c]
        c += 1
    
    return source_array

In [266]:
source_array = [5, 3, 2, 8, 1, 4]

In [264]:
source_array = [-26, -40, -33, 32, 38, -31, 22, -29, -29, -11, 38, -7, -44, -28, 1, -50, -50, 4, -30, 0, -44, 27, 29, 35, 49, -46, -10]

In [267]:
sort_array(source_array)

[1, 3, 2, 8, 5, 4]

# Exercise

There is an array with some numbers. All numbers are equal except for one. Try to find it!


find_uniq([ 1, 1, 1, 2, 1, 1 ]) == 2

find_uniq([ 0, 0, 0.55, 0, 0 ]) == 0.55

It’s guaranteed that array contains at least 3 numbers.

The tests contain some very huge arrays, so think about performance.

In [275]:
arr = [ 1, 1, 1, 2, 1, 1 ]

In [278]:
def find_uniq(arr):
    #finding out what is the number that repeats
    repeated_value = arr[0] if arr[0] == arr[-1] else arr[1]
    
    for x in arr:
        if x != repeated_value:
            return x

In [279]:
find_uniq(arr)

2

# Exercise

Given n, take the sum of the digits of n. If that value has more than one digit, continue reducing in this way until a single-digit number is produced. The input will be a non-negative integer.

In [352]:
from operator import add
from functools import reduce

def digital_root(n):
    while len(str(n)) > 1:
        n = reduce(add,[int(i) for i in str(n)])
    return n

In [349]:
n= 942

In [350]:
digital_root(n)

6

In [335]:
for i in str(n):
    print(int(i))

9
4
2

# Exercise

You are given an array (which will have a length of at least 3, but could be very large) containing integers. The array is either entirely comprised of odd integers or entirely comprised of even integers except for a single integer N. Write a method that takes the array as an argument and returns this "outlier" N.

In [ ]:
def find_outlier(source_array):
    # find out if the array is even or odd
    if source_array[0] == source_array[1]:
        if source_array[0] %2 == 0:
            odd_even = 'even'
        else: 
            odd_even = 'odd'
    else:
        if source_array[2] %2 == 0:
            odd_even = 'even'
        else: 
            odd_even = 'odd'
    
    for j,i in enumerate(source_array):
        if i %2 == 0 and odd_even == 'odd':
            return i
        if i %2 != 0 and odd_even == 'even':
            return i

# Exercise

Your task in order to complete this Kata is to write a function which formats a duration, given as a number of seconds, in a human-friendly way.

The function must accept a non-negative integer. If it is zero, it just returns "now". Otherwise, the duration is expressed as a combination of years, days, hours, minutes and seconds.

In [681]:
def format_duration(seconds):
    one_second = 1
    one_minute = 60
    one_hour = 60*one_minute
    one_day = 24*one_hour
    one_year = 365*one_day

    date_format = [one_year, one_day, one_hour, one_minute, one_second]
    date_format_str = ['year', 'day','hour', 'minute', 'second']

    if seconds == 0:
        return "now"
    
    dic_aux = {}

    # creating a dic with the 1 pair k,v for each date fomart (year, day, hour, minute, second) 
    for count, date_form in enumerate(date_format):
        if seconds/date_form >= 1:
            if seconds/date_form >= 2:
                dic_aux[f'{seconds//date_form} {date_format_str[count]}s, '] = date_form
            else:
                dic_aux[f'1 {date_format_str[count]}, '] = date_form
        
        #minus the seconds already counted in another date format
        seconds -= (seconds//date_form)*date_form

    data_final = ""
    
    #concating the strs and fixing "and" and commas
    for k, value in enumerate(dic_aux.keys()):
        if k == len(dic_aux)-1 and k != 0:
            data_final = data_final[0:-2]
            data_final += " and " 
        data_final += str(value)
    data_final = data_final[0:-2]

    return data_final

In [682]:
format_duration(5846)

'1 hour, 37 minutes and 26 seconds'

# Exercise

We want to create a function that will add numbers together when called in succession.

- add(1)(2); // returns 3
- add(1)(2)(3); // 6
- add(1)(2)(3)(4); // 10
- add(1)(2)(3)(4)(5); // 15

We should be able to store the returned values and reuse them.

- var addTwo = add(2);
- addTwo; // 2
- addTwo + 5; // 7
- addTwo(3); // 5
- addTwo(3)(5); // 10

In [701]:
def add(n):
    def add2(b):
        if b != 0:
            return n+b 
        else:
            return a  
    return add2

In [703]:
add(5)

In [ ]:
class add(int):
    def __call__(self, val):
        return type(self)(self + val)

# Exercise 

Write a function, which takes a non-negative integer (seconds) as input and returns the time in a human-readable format (HH:MM:SS)

- HH = hours, padded to 2 digits, range: 00 - 99
- MM = minutes, padded to 2 digits, range: 00 - 59
- SS = seconds, padded to 2 digits, range: 00 - 59

The maximum time never exceeds 359999 (99:59:59)

In [758]:
def make_readable(seconds):
    one_second = 1
    one_minute = 60
    one_hour = 60*60

    time_format = [ one_hour, one_minute, one_second]

    time_final = ["00:","00:","00",]

    # creating a list with the integer values of HH, MM and SS 
    for c,time_form in enumerate(time_format):
        if seconds/time_form >= 1:
            time_final[c] = str(seconds//time_form).zfill(2) + ":"
        else:
            time_final[c] = "00:"        
        #minus the seconds already counted in another date format
        seconds -= (seconds//time_form)*time_form
    
    return (time_final[0]+time_final[1]+time_final[2][0:-1])

In [763]:
make_readable(6546468)

'1818:27:48'